.first-module{
	padding:0 5% 5% 5% ;
}
.module{
	padding:5%;
}
.listing .thumbnail img{
    width: 100%;
    height: 45rem;
    float: left;
}
.panelone{
	border:1px solid red;
}
.paneltwo{
	border:1px solid green;
}
.panelthree{
	border:1px solid blue;
}